<div class="container">
  <div class="row g-3">
      <div class="col-md-12 title_page d-flex justify-content-center align-items-center shadow p-3 mb-3 mt-3 rounded">
        Stocks#new
      </div>
    </div>
  <div class="row g-3">
    <div class="col-md-12">
      <%= render "form", stock: @stock %>
    </div>
  </div>
</div>
